/*=================================================================
	Basic Setup css
==================================================================*/
html {
    font-size: 100%;
    min-height: 100%;
}

body {
	/*font-family: 'Raleway', sans-serif;*/
	font-family: '', AvenirNextLTPro-Regular;
	font-size: 14px;
	color: #222222;
	font-weight: normal;
	overflow-x: hidden;
	line-height: 20px;
}




@font-face{
  font-family: 'Copperplate Regular';
  src: url('../../Copperplate/Copperplate Regular.ttf');
}
@font-face{
  font-family: 'AvenirNextLTPro-Regular';
  src: url('../../Copperplate/AvenirNextLTPro-Regular.otf');
}
@font-face{
  font-family: 'AvenirNextLTPro-Demi';
  src: url('../../Copperplate/AvenirNextLTPro-Demi.otf');
}
@font-face{
  font-family: 'AvenirNextLTPro-Medium';
  src: url('../../Copperplate/AvenirNextLTPro-Medium.otf');
}
@font-face{
  font-family: 'HelveticaNeue';
  src: url('../../helveticaneue/HelveticaNeue.ttf');
}

@font-face{
  font-family: 'HelveticaNeue Light';
  src: url('../../helveticaneue/HelveticaNeue Light.ttf');
}

@font-face{
  font-family: 'HelveticaNeue Medium';
  src: url('../../helveticaneue/HelveticaNeue Medium.ttf');
}

@font-face{
  font-family: 'Helvetica Neu Bold';
  src: url('../../helveticaneue/Helvetica Neu Bold.ttf');
}
.f1{
  font-family: "Poppins-Regular";
}
.f2{
  font-family: "Sofia Pro Regular";
}
.f3{
  font-family: "sofiapro-light";
}
.f4{
  font-family: "Cera GR Thin";
}
.f5{
  font-family: "Cera GR Black";
}
 
 .l-h2{line-height: 27px}
.l-h{line-height: 45px;}
.l-h3{line-height: 60px;}
.l-h1{line-height: 30px;}


a,
a:active,
a:hover,
a:focus,
a:visited{
	text-decoration:none;
	/*background:transparent;*/
	outline:none;
	color:inherit;
}

/*a:hover{
	color: #663fb5 !important;
}*/

button:focus{
	outline:none;
}

li{
	/*list-style:none;*/
}

article,
figure,
footer,
header,
nav,
section{
	display:block
}

select:focus {
    outline-offset:0;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}





a:focus, a:hover {
    	text-decoration:none !important;
	}


.navbar {
    /*position: relative;*/
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-toggle {
  /*border: 2px solid #FFFFFF;*/
  color: #ffffff;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.header-body {
  height: calc(100vh - 80px);
}

#form .input-group input[class="form-control"] {
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17px;
  color:#222;
  padding:7px 12px;
  border-right-width:0;
}
.box-s{
  /*box-shadow: 0px 5px 5px #888888;*/
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#form .input-group select[class="form-control"] {
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  font-size:17px;
  width:100px;
  color:#222;
  border-left-width:0;
}

.form-control:focus {
    border:1px solid #ccc !important;
    outline:0;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 86, 33, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 2px rgba(0, 0, 0, .6) !important;
}

.form-group1 .form-control:focus {
    border:none!important;
    outline:0;
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    border-bottom:1px solid brown !important;
}








.clearfix{
  clear: all;
}




.dis-f {display:flex !important;}
    
.diss-none {display:none !important;}
    


.bs{box-shadow: 0 4px 10px rgba(0,0,0,0.43);}

.bs3{box-shadow: 0px 0px 10px #663FB5;}







/*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
/*end*/




.bg-head{
  /*background: linear-gradient(100deg, rgba(215, 221, 232, 0.6) 50%, rgba(215, 221, 232, 0.6) 50%),url(../img/capture.png);*/
  /*background-attachment: fixed;*/
  /*background-image: url(../img/capture2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    /*background-blend-mode: normal;*/
    /*clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);*/
}
.bg-head4{
  background-image: url(../img/capture4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-head41{
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/landingpage.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 634px;*/
}

.bg-head1{
  background-color: #FCFCFC !important;
   clip-path: polygon(0 0, 1600px 0, 1600px 100%, 0 100%);

}
.bg-headp{
  background-color: #F7F7F7 !important;
}
.bg-head2{
  background-color: #DDDDDD!important;
   clip-path: polygon(0 0, 1600px 20%, 1600px 100%, 0 100%);

}
	


::-webkit-scrollbar{
	height: 7px;
	width: 7px;
}
::-webkit-scrollbar-track{
	border-radius: 50px;
	/*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1);*/
}
::-webkit-scrollbar-thumb{
	border-radius: 1px;
	background-color: #a7a7a7;
}


/*=================================================================
	Dashboard Css
==================================================================*/


/*adminsection*/
.leftbar{
	position: fixed;
	/*padding-top: 42px;*/
	padding-top: 16px;
	left: 0%;
	top: 0%;
	background-color: white;
	/*border-right: 1px solid #eff3f2;*/
	width: 17.8%;
	height: 100%;
	transition: all .6s ease;
	overflow-y: scroll;
	overflow-x: hidden;
}

.leftbar::-webkit-scrollbar {
    width: 0px;
}
.butt_section{
	padding: 35px;
}
.leftbar p {
    background-color: white;
    padding: 6px 30px;
    margin-bottom: 1%;
    text-align: left;
    color: black;
    cursor: pointer;
     border: 1px solid #f9f9f9 !important;
}
.dashboard_name {
    padding: 2px;
    margin-left: 16%;
    margin-bottom: 10%;
}
.leftbar i {
    float: left;
    padding: 4px;
}
.activedashboard{
	background-color: #f9f9f9 !important;
    color: #00aeef !important;
    border:1px solid #f9f9f9 !important;
    /*border-right: 2px solid #00aeef;*/
    /*width: 197px;*/
    width: 100%;
}
.subactivedashboard{
	/*background-color: #f9f9f9 !important;*/
	color: #663fb5 !important;
}

.subdashleft{
	border-left: 3px solid #c0bebe33;
}

.emplsubactivedashboard{
	background-color: #f9f9f9 !important;
	color: #663fb5 !important;
	padding: 5px !important;
}

#openSidebar{
	display: none;
}
.leftbar .me {
    margin-top: 21%;
    margin-bottom: 1%;
    height: 65px;
    margin-left: 12%;
    width: 65px;
}
.maianer {
    padding: 10px 55px;
}
.biger{
	width: 35% ;
	transform: translate(0px) !important;
	z-index:1  !important;
	
}
img#closebtn {
    position: absolute;
    top: 3%;
    color: indianred;
    font-size: 21px;
    display: none;
    cursor: pointer;
    right: 5%;
    width: 15px;
}
@media screen and (max-width: 992px) {
	
.leftbar{
	transform: translate(-300px);
}
#openSidebar{
	display: block !important;
	cursor: pointer !important;
}
img#closebtn {
   display: block;
}
}
@media screen and (max-width: 568px) {
	
.biger{
	width: 75% ;
	transform: translate(0px) !important;
	z-index:1  !important;
	
}

.leftbar{
	transform: translate(-1000px);
}
#openSidebar{
	display: block !important;
	cursor: pointer !important;
}
i#closebtn {
   display: block;
}

.maianer {
    padding: 10px 20px;
}
.mr-125 { right:125px !important; }

}

.leftbar p {
    background-color: white;
    padding: 11px 40px;
    margin-bottom: 10%;
    font-size: 13px;
    text-align: left;
    color: #4a4a4a;
    cursor: pointer;
    /*text-align: center;*/
    font-weight: 400;
}






/*=================================================================
	Custom Css
==================================================================*/


.__logo{
  /*width: 80px;*/
    height: 85px;
    /*z-index: 30;
    position: absolute;
    top: 19px;*/
}

.__navbg{
  background-color: #20273e;
  margin-bottom: 0px;
  border-radius: 0px;
}

.__navbg1{
  background-color: #942925;
  padding: 15px;
}

.__navf{
  font-size: 10px;
  font-family: Copperplate Regular;
  letter-spacing: 2.1px;
  color: #ffffff !important;
  font-weight: 900;
}

.__navf:hover{
  color: #b1b1b1 !important;
}

.__navf1{
  font-size: 12px;
  font-family: Copperplate Regular;
  letter-spacing: 0.1px;
  color: #ffffff !important;
}

.__navf1:hover{
  color: #b1b1b1 !important;
}

.nav .__navfdr>a, .nav .__navfdr>a:focus, .nav .__navfdr>a:hover{
  background: transparent !important;
  color: #ffffff !important;
}

.__navfc{
  font-size: 10px;
  font-family: Copperplate Regular;
  letter-spacing: 0.1px;
  color: #ffffff;
}

.__slidp{
  margin-top:12%;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
}

.__slidp1{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
}




/*slider*/
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.__slidp {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    /*text-transform: uppercase;*/
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}

.__slidp h1 {
    font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  font-family: AvenirNextLTPro-Demi;
}

.__slidp h3 {
  
   font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  font-family: AvenirNextLTPro-Demi;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
/*.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}*/

/********************************/
/*          Custom Buttons      */
/********************************/

.__joinbtn {
    width: 155px;
    height: 38px;
    padding-top: 9px;
    border-radius: 14px;
    background-color: #82bb1a;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff !important;
    font-family: AvenirNextLTPro-Demi;
    letter-spacing: 2.2px;
    outline: none;
    border-color: #82bb1a;
    transition: all 0.4s ease-in;
}

.__joinbtn:hover{
  background: #4b651d;
  border-color: #4b651d;
  outline:none !important;
}
/*.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}*/

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%), url(../img/aboutimage.jpg);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.fade-carousel .slides .slide-2 {
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%),  url(../img/slides.jpg);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fade-carousel .slides .slide-3 {
  background:linear-gradient(100deg, rgba(34, 34, 34, 0.5) 50%, rgba(34, 34, 34, 0.5) 50%),  url(../img/slide.png);
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.__carodimg{
  width: 1359px;
    position: absolute;
    bottom: 0px;
    height: 120px;
}

/********************************/
/*          Media Queries       */
/********************************/
/*@media screen and (min-width: 980px){
    .__slidp { width: 980px; }    
}
@media screen and (max-width: 640px){
    .__slidp h1 { font-size: 4em; }    
}*/

.__apv{
  background-color: #f8f8f8;
}

.__avpm{
  margin-top: 5%;
}

.__avpmore{
  margin-top: 5%;
  font-size: 18px;
}

.__semo:hover{
  color: #942925;
}

.__fmor:hover{
  color: #942925 !important;
}


.__abu{
  font-family: AvenirNextLTPro-Demi;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.39;
  letter-spacing: 2.2px;
  text-align: center;
  color: #6b231f;
  margin-top: 4%;
}

.__audserbtn{
  width: 165px;
  background-color: #942925;
  color: #ffffff !important;
transition: all 0.4s ease-in;
}

.__audserbtn:hover{
  background: #af3133;
    color: #ffffff !important;
    outline: none !important;
}

.__auds1{
  padding-right: 0px;
}
.__auds2{
  padding:0px 7px;
}

.__auds3{
  padding-left: 0px;
}

.__audsing{
  position: absolute;
    margin-top: -60px;
    padding: 20px;
}

.__hr{
  width: 80px;
    /* height: 2px; */
  border: solid 2px #3f7600;
      margin-top: 2px;
    margin-bottom: 20px;
}

.__abimg{
  width: 262px;
  height: 200px;
  border-radius: 4px;
  box-shadow: 0 2px 3px 2px rgba(206, 206, 206, 0.5);
}

.__abimgov{
  position: absolute;
    bottom: 0px;
    width: 262px;
    height: 50px;
    opacity: 0.79;
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.64), #b8e986);
}

.__sid{
  font-family: AvenirNextLTPro-Demi;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #282828;
  margin: 19px 30px;
}

.__jour{
  font-family: AvenirNextLTPro-Medium;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.39;
  letter-spacing: 2.2px;
  color: #6b231f;
  margin-top: -1%;
}

.__ko{
  font-family: AvenirNextLTPro-Regular;
  /*width: 456px;*/
  font-size: 14px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: #303030;
  text-align: justify;
}

.__abkow{
  font-family: AvenirNextLTPro-Medium;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 1.5px;
  color: #6b231f;
  margin-top: 11%;
}

.__df{
  font-family: AvenirNextLTPro-Regular;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.3px;
  color: #303030;
  text-align: justify;
}

.__redm{
  font-family: AvenirNextLTPro-Regular;
  font-size: 16px;
  font-weight: 500;
  color: #3f7600 !important;
}

.__redm:hover{
  color: #2c5201 !important;
}

.__mbg{
  background-image: url(../img/our.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 869px;
    margin-top: 5%;
}

.__watb{
  font-family: AvenirNextLTPro-Medium;
  font-size: 36px;
  font-weight: 500;
  line-height: 0.81;
  letter-spacing: 2.2px;
  color: #ffffff;
  margin-top: 49%;
}

.__wats{
  font-family: AvenirNextLTPro-Regular;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.2px;
  color: #2e2d2d;
  text-align: justify;
}

.__oum{
  font-family: AvenirNextLTPro-Medium;
  font-size: 30px;
  font-weight: 500;
  line-height: 0.97;
  letter-spacing: 1.9px;
  color: #ffffff;
}

.__outh{
  font-family: AvenirNextLTPro-Regular;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 0.2px;
  color: #2e2d2d;
  text-align: justify;
}

.__emve{
  margin-top: 49%;
}

.__newsb{
  background-image: url(../img/newsb.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*height: 869px;*/
    padding-top: 3%;
}

.__newsimg{
  width: 456px;
  height: 188px !important;
  box-shadow: 0 2px 3px 2px rgba(239, 239, 239, 0.5);
  border: solid 1px #f2f2f2;
}

.__newm{
  font-family: AvenirNextLTPro-Medium;
  font-size: 18px;
  font-weight: 500;
  color: #d0021b;
  margin-top: 10px;
}

.__nesn{
  font-family: AvenirNextLTPro-Regular;
  font-size: 18px;
  color: #3b3b3b;
  text-align: justify;
}

.__neho{
  font-family: AvenirNextLTPro-Regular;
  font-size: 15px;
  color: #666666;
  text-align: justify;
}

.__nedm{
  font-family: AvenirNextLTPro-Regular;
  font-size: 16px;
  font-weight: 500;
  color: #3f7600 !important;
  cursor: pointer;
}

.__nedm:hover{
  color: #2c5201 !important;
}

.__thubb{
  border-bottom: solid 3px #b74f84 !important;
  border:none;
  border-radius: 0px;
}
.__thubb1{
  border-bottom: solid 3px #1e61e0 !important;
  border:none;
  border-radius: 0px;
}

.__helndbt{
  text-align: center;
    padding: 70px;
}

.__helpus{
  height: 368px;
  background-color: #032251;
  margin-top: 5%;
}

.__helimg{
  margin-top: 13px;
}


.__hel{
  font-family: AvenirNextLTPro-Demi;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.67;
  letter-spacing: 2.2px;
  color: #ffffff;
}

.__helbtn{
  width: 204px;
  height: 55px;
  border-radius: 14px;
  background-color: #5ad100;
  font-family: AvenirNextLTPro-Demi;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #ffffff !important;
  padding-top: 15px;
  transition: all 0.4s ease-in;
}

.__helbtn:hover{
  background-color: #4b651d;
}


.__con{
  border-radius: 30px;
  height: 40px;
  background-color: #2b3246;
  border:#2b3246;
  color: #ffffff !important;
}
.__conbtn{
  position: absolute;
    bottom: 15px;
    margin-left:319px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  background-color: #e14043;
  color: #ffffff;
  transition: all 0.4s ease-in;
}

.__conbtn:hover{
  background: #af3133;
    color: #ffffff !important;
    outline: none !important;
}

.__footbg{
  /*height: 250px;*/
  background-color: #20273e;
  padding: 25px 60px 2px !important;
  /*margin-top: 5%;*/
}

.__fot{
  font-size: 16px;
  font-family: AvenirNextLTPro-Demi;
  letter-spacing: 2px;
  color: #ffffff;
}



.__fotp{
  font-size: 14px;
  font-family: AvenirNextLTPro-Medium;
  color: #6c6c6c !important;
}
.__fotp:hover{
 color:  #ffffff !important;
}

.__rig{
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  font-family: AvenirNextLTPro-Medium;
  line-height: 0.98;
  color: #f6f0f0 !important;
}


.__aud{
      border-left: 2px solid #dadada;
    border-top: 2px solid #dadada;
    margin-top: 15px;
}

.__audech{
  padding: 10px 0 0 10px;
}

.__dnavbg{
  background-color: #000000;
  height: 80px;
  padding-top: 36px;
}

.__dnavf{
  font-family: AvenirNextLTPro-Demi;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #c4c4c4;
}

.__dnavfa {
    font-family: AvenirNextLTPro-Demi;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.1px;
    color: #c4c4c4;
    width: 218px;
    padding-bottom: 19px;
    border-bottom: 5px solid #82bb1a;
    margin-bottom: 0px;
}

.__fuv{
  height: 536px !important;
}

.__embed-responsive-16by9 {
    padding-bottom: 39.4%;
}

.__fut{
  margin-top:5%;
}

.__fuec{
  font-family: AvenirNextLTPro-Demi;
  width: 749px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.4px;
  line-height: 1.2;
  color: #505050;
  margin-top: 60px;
}

.__fmor{
  font-family: AvenirNextLTPro-Medium;
  font-size: 20px;
  /*font-weight: 600;*/
  letter-spacing: 0.8px;
  color: #232323 !important;
  margin-left: 5px;
}


.__fthubb{
  border:none;
  border-radius: 0px;
  margin-top: 10px;
}

.__fulimg{
  width: 456px;
  height: 255px !important;
  box-shadow: 0 2px 3px 2px rgba(239, 239, 239, 0.5);
  border: solid 1px #f2f2f2;
}

.__fulvi{
  width: 401px;
  height: 255px !important;
  box-shadow: 0 2px 3px 2px rgba(239, 239, 239, 0.5);
  border: solid 1px #f2f2f2;
}

.__fup{
  font-family: AvenirNextLTPro-Demi;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.8px;
  color: #656565;
}

.__fubol{
  font-family: HelveticaNeue Light;
}

.__faudp{
  font-family: AvenirNextLTPro-Medium;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.3px;
  color: #484848;
}

.__faudimg{
    width: 65px;
    height: 50px;
    border-radius: 3px;
}

.__faudhr{
  margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #979797;
}

.__pres{
  font-family: AvenirNextLTPro-Medium;
  width: 195px;
  padding: 10px;
  border-radius: 3px;
  background-color: #4285f4;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.8px;
  color: #ffffff !important;
  margin: 15% 0px 2% 0px;
}

.__presrb{
  border-right: 1px solid #a6a6a6;
}

.__preskow{
  font-family: AvenirNextLTPro-Demi;
  font-size: 20px;
  font-weight: bold;
  /*font-style: italic;*/
  line-height: 1.38;
  letter-spacing: 2.3px;
  color: #000000 !important;
}

.__presimg{
      width: 552px;
    height: 265px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(232, 232, 232, 0.5);
    border: solid 1px #f3f3f3;
}

.__presimgov{
  position: absolute;
    margin-top: -85px;
  width: 551px;
  height: 84px;
  border-radius: 2px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), #909090);
  padding: 24px;
}

.__presk{
  font-family: AvenirNextLTPro-Demi;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #000000;
}

.__prebtn{
  width: 92px;
  height: 31px;
  border-radius: 3px;
  background-color: #82bb1a;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff !important;
}

.__presby{
  font-family: AvenirNextLTPro-Medium;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.1px;
  color: #6b6b6b;
}

.__prestimg{
  width: 265px;
    height: 133px !important;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(230, 230, 230, 0.5);
    border: solid 1px #eaeaea;
}

.__prestapc{
 font-family: AvenirNextLTPro-Medium;
 font-size: 11px;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0.9px;
  color: #2e2e2e; 
  padding-top: 10px;
}

.__presbb{
  /*height: 361px;*/
  padding: 0 0 9px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(232, 232, 232, 0.5);
  background-color: #ffffff;
  border: solid 1px #f3f3f3;
}

.__prest1img{
  width: 265px;
  height: 165px;
  border-radius: 3px;
}
.__prelat{
      position: absolute;
    margin-top: -145px;
    margin-left: 175px;
  font-family: AvenirNextLTPro-Medium;
  width: 86px;
  height: 24px;
  border-radius: 3px;
  background-color: rgba(50, 50, 50, 0.5);
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  padding: 2px 8px;
}

.__prec{
  padding: 0px 11px;
}

.__prestkow{
 font-family: AvenirNextLTPro-Medium;
 font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  letter-spacing: 0.9px;
  color: #d0021b;; 
  padding-top: 10px;
}

.__prap{
  font-family:AvenirNextLTPro-Regular;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.36;
  letter-spacing: 0.9px;
  color: #2e2e2e;
}

.__prsa{
  font-family:AvenirNextLTPro-Regular;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.6px;
  color: #000000;
}

.__predimg{
  margin-top: 22px;
  height: 170px;
  border: solid 1px #979797;
}

.__prelis{
  font-family: AvenirNextLTPro-Demi;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.6px;
  color: #2e2e2e;
  padding: 59px 0px;
}

.__pret{
  font-family: AvenirNextLTPro-Medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #484848;
  text-align: justify;
}

.__preimg{
  width: 98px;
  height: 84px;
  border-radius: 3px;
}

.__preau{
  border-left: 2px solid #dadada;
    border-top: 2px solid #dadada;
    margin-top: 15px;
}

.__predp{
  font-family: AvenirNextLTPro-Medium;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.3px;
  color: #484848;
}

.__prehr{
  margin: 30px 0px;
}
.__medico{
  background: lightgray;
  padding: 20px;
  margin: 0 auto;
}

.__mediact{
  border-bottom: 5px solid #942925;
  padding-bottom: 15px;
}

.__cout{
  padding: 32px 47px 0px;
}

.__audimg {
    width: 456px;
    height: 255px  !important;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(230, 230, 230, 0.5);
    border: solid 1px #eaeaea;
}

.__minbg{
  background-color: #ffffff;
  margin-top: 2%;
}

.__audad{
  margin-left: 40px;  
}

.__joink{
  font-family: AvenirNextLTPro-Demi;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.1px;
  color: #942925;
  margin-top: 15%;
}


#picture_preview{
  max-width: 100px;
  max-height: 100px;
  width: 200px;
  height: 164px;
  transition: all 1s ease-in;
}

.__picture{
  width: 195px;
  /*height: 195px;*/
  /*position: relative;*/
  cursor: pointer;
  text-align: center;
}

.__picture img{
  width: 100%;
  height: 100%;
  border: 1px solid #82bb1a;
  transition: all 2s ease;
}
.__picture input {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    opacity: 0;
    height: 145px;
    width: 100%;
}

.__picupbtn {
    margin-top: 10px;
    width: 120px;
    border-radius: 14px;
    background-color: #82bb1a;
    box-shadow: 0 0 2px 1px rgba(217, 217, 217, 0.5);
    font-family: AvenirNextLTPro-Medium;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
}

.__joiff{
  margin-top: 12%;
}

.__joir{
  margin-top: 7%;
}

.__joinfo{
      border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    border-bottom: 1px solid #979797 !important;
    border-radius: 0 !important;
}

.__joinfo:focus {
    border: none!important;
    box-shadow: none !important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #337ab7 !important;
}

.__joinch{
  font-family:AvenirNextLTPro-Regular;
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #7a7a7a;
  text-align: center;
  margin-top: 10%;
}

.__joinla{
  font-family: AvenirNextLTPro-Medium;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1.1px;
  color: #444444;
}

.__joinf{
  /*width: 673px;*/
  font-family: AvenirNextLTPro-Regular;
  height: 243px;
  background-color: #f2f2f2;
  border: solid 1px #e1e1e1;
  overflow-y: scroll;
    padding: 20px;
    overflow-x: hidden;
    font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #444444;
  margin-top: 5%;
  text-align: justify;
}

.__joinf::-webkit-scrollbar {
      width: 2px;
    background: #333;
    border-radius: 11px;
  background-color: #d8d8d8;
}

.__joinin{
  font-size: 13px;
  font-family: AvenirNextLTPro-Regular;
}

.__joinchk{
  margin-top: 5%;
}

.__joinsubbtn {
    width: 159px;
    height: 40px;
  border-radius: 14px;
  background-color: #82bb1a;
  font-family: AvenirNextLTPro-Demi;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.2px;
  color: #ffffff !important;
 transition: all 0.4s ease-in;
}

.__joinsubbtn:hover{
  background: #4b651d;
  border-color: #4b651d;
  outline:none !important;
}


.__donamo {
    font-family: AvenirNextLTPro-Demi;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;
    color: #942925;
    margin: 0 auto 30px auto;
    width: 362px;
    line-height: 1.2;
}

.__donamobtn {
    font-family: AvenirNextLTPro-Demi;
    width: 100px;
    height: 55px;
    border-radius: 3px;
    background-color: #942925;
    box-shadow: 0 0 2px 5px rgba(231, 230, 230, 0.5);
    padding-top: 17px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #ffffff !important;
    transition: all 0.4s ease-in;
}

.__donamobtno {
    font-family: AvenirNextLTPro-Demi;
    width: 100px;
    height: 55px;
    border-radius: 3px;
    background-color: #942925;
    box-shadow: 0 0 2px 5px rgba(231, 230, 230, 0.5);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #ffffff !important;
    transition: all 0.4s ease-in;
}


.__donabtnnx {
    width: 170px;
    height: 44px;
    border-radius: 14px;
    background-color: #82bb1a;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.2px;
    color: #ffffff !important;
    outline: none;
    transition: all 0.4s ease-in;
}

.__donabtnnx:hover{
  background: #4b651d !important;
  border-color: #4b651d !important;
  outline:none !important;
}

.__donln{
  border:none;
}

.__donmoda{
  margin-top: 10%;
}

.__contsubbtn {
    width: 130px;
    height: 40px;
    border-radius: 14px;
    background-color: #82bb1a;
    font-family: AvenirNextLTPro-Demi;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.2px;
    color: #ffffff !important;
    transition: all 0.4s ease-in;
}

.__contsubbtn:hover{
  background: #4b651d;
  border-color: #4b651d;
  outline:none !important;
}


.__vivi {
    width: 353px;
    height: 255px !important;
    box-shadow: 0 2px 3px 2px rgba(239, 239, 239, 0.5);
    border: solid 1px #f2f2f2;
}

.__upd{
  font-family: AvenirNextLTPro-Demi;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #942925;
}

.__updim{
  width: 80px;
  height: 80px;
  box-shadow: 0 2px 4px 0 rgba(191, 191, 191, 0.5);
  border-radius: 50%;
}

.__updf{
  font-family: AvenirNextLTPro-Demi;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-align: center;
  color: #656565;
  margin-top: 10px;
}

.__upds{
  font-weight: 500;
  color: #942925;
}

.__updp{
  width: 504px;
  height: 53px;
  border-radius: 3px;
  background-color: #f4f4f4;
  border: solid 1px #c5c5c5;
  margin: 0 auto;
}

.__updp1 {
    margin-top: 14px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.1px;
    line-height: 1.2;
    text-align: center;
    color: #3f7600;
}


.__contmap {
    /*width: 591px;*/
    /*height: 491px;*/
    opacity: 0.79;
    border-radius: 5px;
    background-color: #313a59;
    padding: 40px;
}

.__cont{
  margin-top: 5%;
}

.__contf{
  margin-top: 25%;
}




.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    width: 255px;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    transition: all 0.4s ease-in;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
    transition: all 0.4s ease-in;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.dropdown-menu>li>a{
    padding: 11px;
    transition: all 0.4s ease-in;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background:#942925;
    color: #ffffff;
}

.__fq{
  font-family: AvenirNextLTPro-Medium;
  font-size: 28px;
  font-weight: 500;
  color: #323643;
}
.__fq1{
  font-family: AvenirNextLTPro-Medium;
  font-size: 12px;
  font-weight: 500;
  color: #9f9f9f;
}

.__fqft{
  background: #ffffff;
  margin-top: 5%;
  padding: 40px 70px;
}

.__accordion {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.4s;
}

.active, .__accordion:hover {
    background-color: transparent !important;
    color: #2980b9;
}

.__accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    padding-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.__guip{
  font-family: AvenirNextLTPro-Demi;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 2px;
  text-align: center;
  color: #942925;
  margin-top: 5%;
}

.__guida{
  font-family: AvenirNextLTPro-Demi;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 5%;
}

.__guif {
    /* width: 673px; */
    font-family: AvenirNextLTPro-Regular;
    height: 273px;
    background-color: #f2f2f2;
    border: solid 1px #e1e1e1;
    overflow-y: scroll;
    padding: 20px;
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.2px;
    color: #212121;
    text-align: justify;
}

.__guif::-webkit-scrollbar {
      width: 5px;
    background: #333;
    border-radius: 11px;
  background-color: #d8d8d8;
}

#cmd{
  font-family: AvenirNextLTPro-Demi;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: #3a3a3a;
  text-align: center;
  cursor: pointer;
  margin-top: 5%;
}


.__guidr{
  font-family: AvenirNextLTPro-Demi;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: center;
  color: #3f7600 !important;
}

.__succ{
  font-family: AvenirNextLTPro-Demi;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
  color: #45454c;
  margin-top: 20px;
}

.__sucbtn {
    width: 159px;
    height: 40px;
    border-radius: 14px;
    background-color: #82bb1a;
    font-family: AvenirNextLTPro-Demi;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.2px;
    color: #ffffff !important;
    transition: all 0.4s ease-in;
}

.__sucbtn:hover {
    background: #4b651d;
    border-color: #4b651d;
    outline: none !important;
}

.__sucimg{
  margin-top: 5%;
}

.__idcong{
  font-family: AvenirNextLTPro-Demi;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: #942925 !important;
  margin-top: 10%;
}

.__idyo{
  font-family: AvenirNextLTPro-Demi;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  color: #494949 !important;
}

.__idcov{
      margin: 0 auto;
    width: 586px;
}

.__idc{
  width: 279px;
  height: 386px;
  border: 1px solid;

}
.__idc1{
  width: 279px;
  height: 386px;
  border: 1px solid;
  padding: 20px 17px;
}

.__idbg{
  background-image: url(../img/bgc.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.__idm{
  font-family: AvenirNextLTPro-Demi;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
}

.__idn{
  font-family: AvenirNextLTPro-Demi;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

.__idimg{
      width: 118px;
    /* height: 138px; */
    border-radius: 8px;
    margin: 0 auto;
}

.__idsig{
  padding-top: 5px;
    margin: 0 auto;
    width: 120px;
    text-align: center;
    font-family: AvenirNextLTPro-Demi;
}

.__idp{
  font-family: AvenirNextLTPro-Demi;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2.2px;
  text-align: center;
  color: #343434;
  margin-top: 10px;
}

.__idpi{
  font-family: AvenirNextLTPro-Demi;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #434343;
}
.__idpi1{
  font-family: AvenirNextLTPro-Demi;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #942925;
}

.__iddbtn {
    width: 265px;
    height: 40px;
    border-radius: 14px;
    background-color: #82bb1a;
    font-family: AvenirNextLTPro-Demi;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.2px;
    color: #ffffff !important;
    transition: all 0.4s ease-in;
}


.__iddbtn:hover {
    background: #4b651d;
    border-color: #4b651d;
    outline: none !important;
}

.__fulc{
  padding: 15px 50px;
}

.__fulimgs{
 /* width: 670px;*/
    height: 315px;
  border-radius: 4px;
}

.__fued{
  font-family: AvenirNextLTPro-Demi;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #942925;
}


.__fupn{
  font-family: AvenirNextLTPro-Regular;
  font-size: 38px;
  text-align: center;
  color: #3b3b3b;
  line-height: 1.2;
}
.__fp{
  font-family: AvenirNextLTPro-Regular;
  font-size: 16px;
  color: #3b3b3b;
}

.__fum{
  background-color: #942925;
}

.__fump{
  font-family: AvenirNextLTPro-Demi;
  font-size: 16px;
  color: #ffffff;
  padding: 18px 114px;
}


.__lr{
  width: 52px; 
  background: transparent !important;
  height: 276px;
  padding-top: 10%;
}

.__futh{
  border: none;
}

.__fulvimg{
  width: 100%;
  height: 180px !important;
  border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.__fuledi{
  font-family: AvenirNextLTPro-Medium;
  color: #d0021b;
  font-size: 18px;
  font-weight: 500;
}

.__fuledi1{
  font-family: AvenirNextLTPro-Regular;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 500;
}





